REACT_APP_API_PORT=5002
REACT_APP_API_URL='localhost'
REACT_APP_WEBSITENAME='Registration System'
REACT_APP_YEAR=2024
REACT_APP_SUBHEADER='CACI SSC | Aerolympics 2024'
REACT_APP_EVENTNAME='Aerolympics 2024'
REACT_APP_DATABASE='attendancesystem'
REACT_APP_PASSWORD='reset123' #sample password
REACT_APP_AMOUNT_1_NAME='SSC Fee'
REACT_APP_AMOUNT_2_NAME='Aquaintance Party Fee'
